@model ContactsManager.Models.LegalPerson

<div>
    <h4>LegalPerson</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TradeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TradeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address.Line1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address.Line1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address.Line2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address.Line2)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Update", new { cnpj = Model.CNPJ }) |
    <a asp-action="Index">Back to List</a>
</div>
