@model IEnumerable<ContactsManager.Models.LegalPerson>

<p>
    <a asp-action="Insert">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address.Line1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address.Line2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address.Line1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address.Line2)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { cnpj = item.CNPJ }) |
                @Html.ActionLink("Details", "Details", new { cnpj = item.CNPJ }) |
                @Html.ActionLink("Delete", "Delete", new { cnpj = item.CNPJ })
            </td>
        </tr>
}
    </tbody>
</table>
